/* span{
    cursor: pointer;
    padding-top: 6px;
    position: relative;
    left: 24px;
    display: inline-block;
    
}

.parent{
    margin-top: 60px;
    display: inline-block;
}

.wallet, .m-wallet, .subscribe, .payment {
    margin-top: 4px;
    font-size: 15px;
}
.subscribe{
    background-color: #F6F4FF;
    margin-top: 12px;
    width: 55%;
}
.text3 {
    position: relative;
    top: -3px;
}

.first-description {
    position: relative;
    bottom: 40px;
}

/* second column on on the first row */

.second-description{
    position: relative;
}

li{
    list-style-type: none;
}

.sd-backg {
    background-color: #F6F4FF;
    height: 23rem;
    position: relative;
    top: 90px;
    padding-top: 38px;
    width: 17%;
    border-radius: 14px;
}
.text-wrapper1 {
    position: relative;
    padding-top: 4px;
    font-size: 12px;
    font-family: fangsong;
    color: #6A52FD;
}

.txt1 {
    padding-top: 20px;
    margin-left: 22px;
}

.chooseFormBtn {
    position: relative;
    width: 194px;
    height: 48px;
    background: #6A52FD;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    top: 5px;
}

.htxt1 {
    font-weight: bolder;
    font-size: 20px;
    display: inline-flex;
    font-family: Arial;
}

.token-amount {
    font-weight: bolder;
    margin-left: 43px;
    font-size: 16px;
}

.sd-backg2 {
    background-color: #6A52FD;
    color: white;
    border-radius: 20px;
    width: 14rem;
    position: relative;
    top: 50px;
    left: 18px;
}

.second-description{
    color: white;
}

.text-wrapper2 {
    position: relative;
    padding-top: 22px;
    font-size: 12px;
    font-family: fangsong;
    color: white;
}

.chooseFormBtn2 {
    position: relative;
    width: 194px;
    height: 48px;
    background: #ffffff;
    outline: none;
    border: none;
    color: #6A52FD;
    border-radius: 10px;
    top: 19px;
}

.badge {
    background-color: white;
    float: right;
    color: #221192;
    margin-right: 32px;
}
.text-wrapper3 {
    position: relative;
    padding-top: 22px;
    font-size: 12px;
    font-family: fangsong;
    color: #6a52fd;
}

.sd-backg3 {
    background: #f6f4ff;
    color: #6A52FD;
    border-radius: 20px;
    width: 14rem;
    position: relative;
    top: 90px;
    left: 36px;
}
.chooseFormBtn3 {
    position: relative;
    width: 194px;
    height: 48px;
    background: #6a52fd;
    outline: none;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    top: 19px;
}
.t3s{
    padding-top: 15px;
} 
