/* logo */
.logo{
    Width:135px;
    Height:35px
}
.notiIcon{
    color: red;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 8.47%;
    right: 8.75%;
    top: 4.93%;
    bottom: 14.06%;
/* New primary color */
background: #6A52FD;
}

.profilePicsHeader{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #311eac;
}

.contentsLeft{
   align-items: center;
}
/* side nav  */
.sideNav{
 position: absolute;
width: 395px;
height: 641.07px;
left: 27px;
top: 142px;

}
.manImage{
position: absolute;
width: 91.89px;
height: 91.89px;
left: 159.16px;
top: 0px;
background: url(../../assets/images/man.png);
}

.location{
    width: 10px;
    margin-right: 4px;
}
.community {
    background: #6A52FD;
    border-radius: 100px;
    width: 250px;
    margin-left: 46px;
    height: 39px;
    margin-top: 38px;
    border: none;
    color: white;
}
.communityIcon{
    width: 10px;
    margin-right: 8px;
}

.post {
    background: none;
    border-radius: 100px;
    width: 282px;
    margin-left: 4px;
    height: 39px;
    margin-top: 10px;
    border: none;
    color: black;
}
.postIcon{
    width: 10px;
    margin-right: 8px;
}
.dating {
    background: none;
    border-radius: 100px;
    width: 282px;
    margin-left: 12px;
    height: 39px;
    margin-top: 0px;
    border: none;
    color: black;
}
.datingIcon{
    width: 10px;
    margin-right: 8px;
}

.chats {
    background: none;
    border-radius: 100px;
    width: 282px;
    margin-left: 9px;
    height: 39px;
    margin-top: 0px;
    border: none;
    color: black;
}
.chatIcon{
    width: 10px;
    margin-right: 8px;
}

.buyToken {
    background: none;
    border-radius: 100px;
    width: 282px;
    margin-left: 29px;
    height: 39px;
    margin-top: 0px;
    border: none;
    color: black;
}
.buy-tokenIcon{
    width: 10px;
    margin-right: 8px;
}
.logOut {
    background: none;
    border-radius: 100px;
    width: 282px;
    margin-left: 14px;
    height: 39px;
    margin-top: 0px;
    border: none;
    color: rgb(251, 0, 0);
    
}
.logoutIcon{
    width: 10px;
    margin-right: 8px;
}

/* STORY SECTION IMAGES HERE */
.story-section{
    margin-top: 30px;
}
.pretty, .valery, .escstacy, .nice, .story, .roman, .celine{
    margin-left: 30px;
    width: 75px;
}
/* chevrons on the story section */
.chevright{
    margin-left: 30px;
    width: 25px;
}
.chevleft{
    margin-left: 30px;
    width: 25px;
}

/* hot pics section */
.hp-viewall{
    margin-left: 32px;
    margin-top: 100px;
}
.hpicks{
    font-weight: 700;
}
.gendertype{
    font-size: 13px;
    font-family: poppins;
}
.genderbackgd{
    height: 20px;
    background-color: #F6F4FF;
    margin-left: 17px;
    width: 21px;
    border-radius: 50px;
}
.viewall {
    color: blue;
    float: right;
    margin-right: 53px;
}
/* hookup images */
.hotpicksimages{
    width: 255px;
    position: relative;
}
.hook1{
    border-radius: 20px;
    margin-top: 14px;
   
}
.h-imgs{
    margin-left: 15px;
}
.hooksfoot{
    background-color: #0000004b;
    width: 255px;
    position: absolute;
    bottom: 0px;
    border-radius: 0 0 20px 20px;
    padding-left: 15px;
    color: white;
    height: 32px;
}
.ratings{
    position: absolute;
    top:30px;
    right: 0;
}
.cam-vidcam{
    position: absolute;
    right: 30px;
}
.cam{
    margin-right: 16px;
}

.filter {
    width: 30px;
    float: right;
    margin-right: 53px;
    margin-top: 5px;
}
.usersearchbox {
    height: 40px;
    border: none;
    left: 1222px;
    right: 109px;
    background: #F6F4FF;
    border-radius: 50px;
    padding: 22px;
    margin-left: 33rem;
    width: 317px;
    outline: none;
}
.usersearchbox:focus {
    border: none;
}

/* media query for mobile (responsiveness)*/
@media only screen and (max-width: 767px) {
    .logo{
        Width:90px;
        Height:35px;
    }

    .noti {
        color: #6A52FD;
        width: 19px;
        height: 18px;
        position: absolute;
        left: 239px;
        top: 4.93%;
    }
    
    .profilePicsHeader {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #311eac;
        right: 47px;
        position: absolute;
    }
    .caret{
        position:absolute;
        right: 15px;
    }
    .h-contents{
        margin-right: 10px;
    }

    .sideNavBtns{
       display: none;  
       }
       .navprofile{
           display: none!important;
       }
       .celine, .valery, .pretty{
           display: none;
       }
       .story-section {
        display: flex;
        position: absolute;
        top: 70px;
        left: 15px;
    }
       .chevleft {
        margin-left: 4px;
        width: 13px;
    }
    .escstacy, .nice, .story, .roman, .celine {
        margin-left: 14px;
        width: 54px;
    }
    .chevright {
        margin-left: 16px;
        width: 13px;
    }
    .hp-viewall {
        margin-left: 32px;
        margin-top: 59px;
    }
    .viewall {
        color: blue;
        float: right;
        margin-right: -36px;
        font-size: 14px;
    }
    .hook1 {
        border-radius: 20px;
        margin-top: 14px;
        width: 150px;
        margin-right: -28px;
    }
    .hooksfoot {
        background-color: #0000004b;
        width: 150px;
        position: absolute;
        bottom: 0px;
        border-radius: 0 0 20px 20px;
        padding-left: 15px;
        color: white;
        height: 32px;
    }
    .hotpicksimages1, .hotpicksimages2{
        display: none;
    }

   .hpname {
        font-size: 12px;
    }
    .cam-vidcam {
       
        right: 0px!important;
    }
    .cam, .vidcam {
        margin-right: 16px;
        width: 14px;
    }

    .ratings {
        position: absolute;
        top: 30px;
        right: -15px;
        width: 12px;
    }
    .hpicks {
        font-weight: 700;
        font-size: 12px;
    }
    .hpicks2 {
        font-size: 10px;
    }
    .gendertype {
        font-size: 9px;
        font-family: poppins;
    }
    .genderbackgd {
        height: 0px;
        background-color: white;
    }
    .usersearchbox {
        height: 27px;
        /* right: 11px; */
        background: #ffffff;
        border-radius: 50px;
        padding: 22px;
        margin-left: -76rem;
        width: 120px;
        font-size: 10px;
        position: relative;
        top: 0rem;
    }

    .filter {
        width: 21px;
        float: right;
        margin-right: -53px;
        margin-top: 11px;
    }
  
}