.footer-container{
    background-color: #6A52FD;
    padding: 20px 50px;
    color: #fff;
}
.footer-signup-btn{
    background-color: #FD52AB;
    color: #fff;
    ;
}
@media only screen and (max-width: 767px) {
    .footer-item-one{
        display: block !important;
        text-align: center;
    }
    .footer-main-img{
        width: 75%;
    }
    .f-title{
        text-align: center;
    }
}