.hiw-image-container {
  padding: 20px 50px;
}
.hiw-image {
  position: relative;
}
.hiw-image .sub {
  position: absolute;
  bottom: -40px;
  right: 18%;
}
.hiw-chat_img {
  box-shadow: 12px 12px 24px rgba(106, 82, 253, 0.15);
}
.i-f-s{
  font-size: 24px;
}
@media only screen and (max-width: 767px) {
  .hiw-image-container {
      display: block !important;
      text-align: center;
  }
  .hiw-image-container .item-1{
      display: block !important;
  }
  .i-f-s{
    width: 100% !important;
    padding-bottom: 12px;
  }
  .hiw_sub_two{
    display: flex !important;
    flex-direction: column-reverse;
  }
  .community-item-2{
    display: block !important;
  }
  .img-test{
    width: 50%
  }
}
