.hiw-image-container {
  padding: 20px 50px;
}
.hiw-image {
  position: relative;
}
.hiw-image .sub {
  position: absolute;
  bottom: -40px;
  right: 18%;
}

@media only screen and (max-width: 767px) {
  .hiw-image-container {
      display: block !important;
      text-align: center;
  }
  .hiw-image-container .item-1{
      display: block !important;
  }
  .i-f-s{
    width: 100% !important;
    padding-bottom: 12px;
  }
  .hiw_sub_two{
    display: flex !important;
    flex-direction: column-reverse;
  }
  .community-item-2{
    display: block !important;
  }
}
@media screen and (max-width: 600px) {
  .i-f-s{
    font-size: 16px;
    padding: 10px;
  }
  .hiw-image-container {
    padding: 10px;
  }
  .hiw-subtext{
    padding: 10px;
  }
  .on-date{
    width: 100%;
    padding: 10px;
  }
}
