.hiw-image-container{
    padding: 20px 50px;
}
.hiw-image{
    position: relative;
}
.hiw-image .sub{
    position: absolute;
    bottom: -40px;
    right: 18%;
}
.hiw-chat_img{
    box-shadow: 12px 12px 24px rgba(106, 82, 253, 0.15);
}