.active-side-nav{
    background: #6A52FD !important;
    border-radius: 100px;
    color: white;
}
.inactive-side-nav{
    background: #fff;
    border-radius: 100px;
    width: 100%;
    height: 39px;
    margin-top: 10px;
    border: none;
    text-align: justify;
    padding-left: 32%;
}